.panel-heading{
  padding: 0;
  background-color: #f6f6f6 !important;
  color: inherit !important;
  border-color: #e5e5e5 !important;
}

.panel{
  border-color: #e5e5e5 !important;
  .ct-m-boxShadow(none);
}

.panel-body{
  border-top: none !important;
  background-color: #f6f6f6;
}

.panel-title{
  font-size: 15px;
  font-weight: normal;
  font-family: @font-family-sans-serif;
  > a{
    padding: 16px 15px 17px 65px;
    display: block;
    position: relative;
    &:focus{
      text-decoration: none;
    }
    &:before{
      content: "\f0d7";
      font-family: fontawesome;
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      line-height: 50px;
      color: #ffffff;
      font-size: 20px;
      position: absolute;
      left: -1px;
      top: -1px;
    }
    &.collapsed:before{
      content: "\f0da";
    }
  }
}

.panel-group .panel + .panel{
  margin-top: 20px;
}

.panel-title a:before{
  background-color: @brand-primary;
}
.panel-success .panel-title a.collapsed:before{
  background-color: @brand-success;
}
.panel-danger .panel-title a.collapsed:before{
  background-color: @brand-danger;
}
.panel-warning .panel-title a.collapsed:before{
  background-color: @brand-warning;
}
.panel-info .panel-title a.collapsed:before{
  background-color: @brand-info;
}

.ct-accordion-type2{
  color: #ffffff;
  padding: 35px;
  background-color: @brand-primary;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    .ct-m-size(9999px, 100%);
    left: 100%;
    top: 0;
    background-color: @brand-primary;
  }
  .panel{
    background-color: transparent;
    border: none;
    padding-bottom: 32px;
    margin-bottom: 50px;
    position: relative;
    &:last-child{
      margin-bottom: 0;
    }
    &:after{
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 70px;
      height: 7px;
      .ct-m-opacity(0.3);
      background: url("@{base-url}/dotted-line.png");
    }
  }
  .panel-heading, .panel-body{
    background-color: transparent !important;
  }
  .panel-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    i{
      margin-right: 10px;
    }
    > a{
      padding: 0;
      font-family: @ct-secondaryFont;
      color: darken(@brand-primary, 20%);
      &.collapsed{
        color: inherit;
        &:hover, &:focus, &:active{
          color: darken(@brand-primary, 20%);
        }
      }
      &:before{
        display: none;
      }
    }
  }
  .panel-body{
    padding: 0;
    padding-top: 20px;
  }
}