.ct-blogPost{
  img, .embed-responsive, > iframe{
    + .ct-blogPost-title{
      padding-top: 0;
    }
  }
  .btn{
    margin-bottom: 20px;
  }
  &:after{
    display: block;
    content: "";
    height: 7px;
    background: url("@{base-url}/dots.png");
    margin: 15px 0;
  }
  &:last-child:after{
    display: none;
  }

  .ct-blogPost-title{
    text-transform: uppercase;
    margin: 0;
    a{
      color: inherit;
      &:hover, &:focus, &:active{
        color: @brand-primary;
      }
    }
  }
}

.ct-blogPost--primary{
  img, .embed-responsive{
    margin-bottom: 34px;
  }
  > iframe{
    margin-bottom: 27px;
  }
  .ct-blogPost-title{
    padding: 20px 0;
  }
}
.ct-blogPost--masonry{
  margin-bottom: 20px;
  img, .embed-responsive{
    margin-bottom: 25px;
  }
  > iframe{
    margin-bottom: 18px;
  }
  .ct-blogPost-title{
    padding-bottom: 10px;
  }

  .ct-blogPost-text{
    margin-bottom: 0;
    &:after{
      display: block;
      content: "";
      height: 7px;
      background: url("@{base-url}/dots.png");
      margin: 20px 0;
      max-width: 76px;
    }
  }
}



.ct-blogPost-metaContainer{
  padding-bottom: 30px;
  .ct-blogPost-meta:after{
    content: "/";
    padding: 0 10px;
  }
  .ct-blogPost-meta:last-child:after{
    display: none;
  }
}
.ct-blogPost-meta{
  color: #b6b6b6;
  a{
    color: inherit;
    &:hover, &:focus, &:active{
      color: @brand-primary;
    }
  }
}

.ct-blogPost-text{
  display: block;
  margin-bottom: 30px;
}

.ct-blogTag{
  color: inherit;
  &:hover, &:focus, &:active{
    color: @brand-primary;
  }
}

.ct-authorPost, .ct-authorComment{
  position: relative;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  .img-circle{
    max-width: 110px;
    border: 5px solid #ffffff;
    .ct-m-boxShadow(1px 1px 3px 0px rgba(0, 0, 0, 0.1));
    margin-right: 20px;
    margin-bottom: 0;
  }
  .ct-authorPost-author, .ct-authorComment-author{
    text-transform: uppercase;
    font-family: @ct-secondaryFont;
    font-weight: 600;
    padding-bottom: 20px;
    span{
      margin-right: 10px;
      margin-bottom: 0;
      font-style: normal;
      cursor: default;
    }
  }
  .ct-authorPost-content, .ct-authorComment-content{
    overflow: hidden;
    zoom: 1;
    padding-top: 3px;
  }
  .ct-authorPost-quote, .ct-authorComment-quote{
    min-height: 34px;
  }
}

.ct-authorPost{
  background-color: @brand-primary;
  color: #ffffff;
  margin: 30px 0;
  padding: 30px;
  padding-left: 0;
  &:before{
    content: "";
    background-color: @brand-primary;
    height: 100%;
    width: 9999px;
    right: 100%;
    position: absolute;
    top: 0;
  }
}

.comment-reply-link{
  position: absolute;
  right: 0;
  top: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  &:before{
    content: "\f112";
    font-family: fontawesome;
    padding-right: 5px;
  }
}


@media(max-width: @screen-xs-max){
  .ct-authorPost, .ct-authorComment {
    .pull-left {
      float: none !important;
    }
    .img-circle{
      margin: auto;
      display: block;
      margin-bottom: 20px;
    }
    .ct-authorPost-author, .ct-authorComment-author{
      text-align: center;
    }
  }
  .comment-reply-link{
    position: relative;
  }
}