button{
  outline: none !important;
}

.button-variant(@background; @border) {
  color: #ffffff;
  background-color: @background;
  border-color: @border;
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: #ffffff;
    background-color: @background;
    border-color: @border;
  }
}

.btn-block + .btn-block{
  margin-top: 10px;
}

.btn{
  position: relative;
  font-family: @ct-secondaryFont;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  padding: 4px 12px;
  &:active{
    .ct-m-boxShadow(none);
  }
  + .ct-js-spacer + .btn{
    margin-left: 20px;
  }
  &:before, &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  &:before{
    top: -3px;
  }
  &:after{
    bottom: -3px;
  }
  &:hover:before, &.active:before{
    -webkit-animation-name: moveRibbonsRight;
    animation-name: moveRibbonsRight;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
  }
  &:hover:after, &.active:after{
    -webkit-animation-name: moveRibbonsLeft;
    animation-name: moveRibbonsLeft;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
  }
}
.btn:active, .btn.active{
  .ct-m-boxShadow(none);
}

.btn-xs{
  padding: 1px 5px;
  font-size: 13px;
}
.btn-sm{
  padding: 3px 10px;
  font-size: 13px;
}
.btn-lg{
  padding: 10px 16px;
  font-size: 19px;
  font-weight: 400;
}

@media (max-width: @screen-xs) {
  .btn {
    + .btn, + .ct-js-spacer + .btn {
      margin-left: 0px;
    }
  }
}

.btn-success{
  .button-variant(@brand-success,@brand-success);
  &:before{
    background: url("@{base-url}/btmBox-green-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-green.png");
  }
  + .dropdown-menu{
    background-color: @brand-success;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-success,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-warning{
  .button-variant(@brand-warning,@brand-warning);
  &:before{
    background: url("@{base-url}/btmBox-orange-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-orange.png");
  }
  + .dropdown-menu{
    background-color: @brand-warning;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-warning,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-danger{
  .button-variant(@brand-danger,@brand-danger);
  &:before{
    background: url("@{base-url}/btmBox-red-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-red.png");
  }
  + .dropdown-menu{
    background-color: @brand-danger;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-danger,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-purple{
  .button-variant(@brand-purple,@brand-purple);
  &:before{
    background: url("@{base-url}/btmBox-purple-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-purple.png");
  }
  + .dropdown-menu{
    background-color: @brand-purple;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-purple,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-gray{
  .button-variant(@brand-darkGray,@brand-darkGray);
  &:before{
    background: url("@{base-url}/btmBox-gray-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-gray.png");
  }
  + .dropdown-menu{
    background-color: @brand-darkGray;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-darkGray,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-gold{
  .button-variant(@brand-gold,@brand-gold);
  &:before{
    background: url("@{base-url}/btmBox-gold-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-gold.png");
  }
  + .dropdown-menu{
    background-color: @brand-gold;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-gold,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-info{
  .button-variant(@brand-info,@brand-info);
  &:before{
    background: url("@{base-url}/btmBox-blue-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-blue.png");
  }
  + .dropdown-menu{
    background-color: @brand-info;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-info,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-primary{
  .button-variant(@brand-primary,@brand-primary);
  &:before{
    background: url("@{base-url}/btmBox-primary-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-primary.png");
  }
  + .dropdown-menu{
    background-color: @brand-primary;
    color: #ffffff;
    a{
      color: #ffffff;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-primary,5%);
        color: #ffffff;
      }
    }
  }
}
.btn-default{
  .button-variant(#ffffff,#ffffff);
  color: @text-color;
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: @text-color;
  }
  &:before{
    background: url("@{base-url}/btmBox-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox.png");
  }
  + .dropdown-menu{
    background-color: #ffffff;
    color: @text-color;
    a{
      color: @text-color;
    }
    > li{
      > a:hover, a:focus{
        background-color: darken(@brand-primary,5%);
        color: #ffffff;
      }
    }
  }
}

.btn:focus, .btn-group.open .dropdown-toggle{
  .ct-m-boxShadow(none);
}