.form-group{
  margin-bottom: 10px;
}

.form-control{
  font-size: 15px;
  .ct-m-boxShadow(none);
  border-color: #e7e7e7;
  font-family: @ct-secondaryFont;
}
.form-control:focus{
  .ct-m-boxShadow(none);
}
.form-control:valid{
  border-color: @brand-success;
}

.ct-form-control--newsletter{
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: #9c9c9c;
  .ct-m-borderRadius(0,0,5px,5px);
  height: 58px;
  .ct-m-boxShadow(none);
  font-weight: normal;
  &:focus{
    border-color: @brand-purple;
    + .input-group-btn .btn-newsletter{
      background-color: @brand-purple;
      border-color: @brand-purple;
    }
  }
  &:valid{
    border-color: @brand-success;
    + .input-group-btn .btn-newsletter{
      background-color: @brand-success;
      border-color: @brand-success;
    }
  }
}
.btn-newsletter{
  font-size: 18px;
  font-family: @ct-secondaryFont;
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  padding: 16.5px 20px;
  .ct-m-borderRadius(5px,5px,0,0);
  .ct-m-transition(all,0.4s, ease);
  z-index: 2;
  &:hover, &:focus, &:active{
    color: #ffffff;
    background-color: @brand-purple;
    border-color: @brand-purple;
  }
}

.form-search{
  position: relative;
  margin-bottom: 50px;
  ::-webkit-input-placeholder {
    color: #a1a1a1;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #a1a1a1;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #a1a1a1;
  }

  :-ms-input-placeholder {
    color: #a1a1a1;
  }
  .form-control{
    font-size: 14px;
    background-color: #f7f7f7;
    border-color: #e0e0e0;
    height: 45px;
    color: #a1a1a1;
    &:focus{
      border-color: @brand-primary;
    }
  }
  button{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-color: transparent;
    color: #afafaf;
  }
}

.checkbox{
  label{
    padding-left: 10px;
    &:before{
      width: 25px;
      display: inline-block;
      content: "\f096";
      padding-right: 5px;
      font-family: fontawesome;
    }
  }
  input{
    float: none;
    width: auto;
    display: none;
  }
  input[type=checkbox]:checked + label:before{
    content: "\f046";
  }
}

.alert p{
  margin-bottom: 15px;
}