.ct-galleryBox{
  position: relative;
  overflow: hidden;
  text-align: center;
  a{
    color: #ffffff;
  }
  .ct-galleryBox-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .ct-m-opacity(0);
    .ct-m-transition(all, 0.2s, ease);
  }
  .ct-galleryBox-icons{
    .ct-m-translate(0, -20px);
    .ct-m-transition(all, 0.2s, ease);
    i{
      font-size: 20px;
    }
    display: table;
    width: 60%;
    margin: 0 20%;
    a{
      width: 1%;
      display: table-cell;
      outline: none;
    }
  }
  .ct-galleryBox-title{
    margin-top: 40px;
    .ct-m-translate(0, -5px);
    .ct-m-transition(all, 0.2s, ease);
  }
  .ct-galleryBox-description{
    .ct-m-translate(0, 20px);
    .ct-m-transition(all, 0.2s, ease);
  }
  &:hover{
    .ct-galleryBox-overlay{
      .ct-m-opacity(1);
    }
    .ct-galleryBox-icons {
      .ct-m-translate(0, 0);
    }
    .ct-galleryBox-title{
      .ct-m-translate(0, 0);
    }
    .ct-galleryBox-description{
      .ct-m-translate(0, 0);
    }
  }
}

.ct-galleryBox--primary{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-primary, 90%);
  }
}
.ct-galleryBox--green{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-success, 90%);
  }
}
.ct-galleryBox--blue{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-info, 90%);
  }
}
.ct-galleryBox--orange{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-warning, 90%);
  }
}
.ct-galleryBox--gold{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-gold, 90%);
  }
}
.ct-galleryBox--gray{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-darkGray, 90%);
  }
}
.ct-galleryBox--purple{
  .ct-galleryBox-overlay{
    background-color: fade(@brand-purple, 90%);
  }
}

.ct-galleryBox--type2{
  .ct-galleryBox-image{
    max-height: 270px;
  }
  + .ct-galleryBox-content{
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-top: none;
    display: block;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    .ct-galleryBox-title{
      margin: 0;
      padding-top: 25px;
      color: #5f5f5f;
    }
    .ct-galleryBox-description{
      color: #9c9c9c;
    }
  }
}

.ct-galleryBox--type2.ct-galleryBox--primary{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-primary;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-primary;
  }
}
.ct-galleryBox--type2.ct-galleryBox--green{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-success;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-success;
  }
}
.ct-galleryBox--type2.ct-galleryBox--gold{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-gold;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-gold;
  }
}
.ct-galleryBox--type2.ct-galleryBox--gray{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-primary;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-primary;
  }
}
.ct-galleryBox--type2.ct-galleryBox--purple{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-purple;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-purple;
  }
}
.ct-galleryBox--type2.ct-galleryBox--orange{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-warning;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-warning;
  }
}
.ct-galleryBox--type2.ct-galleryBox--blue{
  &:hover{
    + .ct-galleryBox-content .ct-galleryBox-title{
      color: @brand-info;
    }
  }
  + .ct-galleryBox-content:hover .ct-galleryBox-title{
    color: @brand-info;
  }
}