.ct-graphBox-graph{
  position: relative;
  line-height: 1 !important;
  .ct-graphBox-graphPercentage{
    font-size: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-family: @ct-secondaryFont;
    text-align: center;
    left: 0;
    width: 100%;
    right: 0;
  }
}

.ct-iconBox-icon .ct-graphBox-graph{
  margin-left: 50px;
  margin-right: 50px;
}