.ct-iconBox{
  .ct-m-clearfix();
  .ct-iconBox-title{
    .ct-m-transition(all,0.4s,ease);
  }
  .ct-iconBox-icon img{
    width: auto !important;
  }
}
.ct-iconBox.ct-iconBox--type1{
  background-color: #ffffff;
  padding: 0 20px;
  color: inherit;
  display: block;
  position: relative;
  margin-bottom: 20px;
  .ct-iconBox-icon{
    margin: 0 -20px;
    font-size: 64px;
    line-height: 1.5;
    color: #ffffff;
    padding: 46px 0;
  }
  .ct-iconBox-title{
    margin: 0 10px 20px 10px;
    padding: 35px 0;
    position: relative;
    &:after{
      position: absolute;
      bottom: 0;
      content: "";
      height: 7px;
      width: 100%;
      display: block;
      background: url("@{base-url}/dots.png");
    }
    a{
      color: inherit;
    }
  }
  .ct-iconBox-description{
    margin-bottom: 40px;
  }
  .ct-iconBox-arrow{
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin: 0 -20px;
    .ct-m-transition(all, 0.4s, ease);
    i{
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      right: 0;
      bottom: 0;
      color: #ffffff;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--primary{
  .ct-iconBox-icon{
    background-color: @brand-primary;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-primary;
    }
    .ct-iconBox-arrow {
      background-color: @brand-primary;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-primary;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--green{
  .ct-iconBox-icon{
    background-color: @brand-success;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-success;
    }
    .ct-iconBox-arrow {
      background-color: @brand-success;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-success;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--purple{
  .ct-iconBox-icon{
    background-color: @brand-purple;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-purple;
    }
    .ct-iconBox-arrow {
      background-color: @brand-purple;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-purple;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--blue{
  .ct-iconBox-icon{
    background-color: @brand-info;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-info;
    }
    .ct-iconBox-arrow {
      background-color: @brand-info;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-info;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--orange{
  .ct-iconBox-icon{
    background-color: @brand-warning;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-warning;
    }
    .ct-iconBox-arrow {
      background-color: @brand-warning;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-warning;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--gold{
  .ct-iconBox-icon{
    background-color: @brand-gold;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-gold;
    }
    .ct-iconBox-arrow {
      background-color: @brand-gold;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-gold;
    }
  }
}
.ct-iconBox--type1.ct-iconBox--gray{
  .ct-iconBox-icon{
    background-color: @brand-darkGray;
  }
  &:hover, &:focus, &:active{
    .ct-iconBox-title{
      color: @brand-darkGray;
    }
    .ct-iconBox-arrow {
      background-color: @brand-darkGray;
    }
  }
  .ct-iconBox-arrow{
    i{
      background-color: @brand-darkGray;
    }
  }
}

.ct-iconBox.ct-iconBox--type2{
  margin-bottom: 80px;
  .ct-iconBox-icon{
    line-height: 1;
    text-align: left;
    float: left;
    font-size: 70px;
    padding-right: 35px;
    color: #e0e0e0;
    .ct-m-clearfix();
    img, i{
      padding-left: 20px;
      display: block;
      float: right;
    }
  }
  .ct-iconBox-content{
    overflow: hidden;
  }
}

.ct-iconBox-counter{
  font-size: 60px;
  line-height: 0.6;
  font-family: @ct-secondaryFont;
  font-weight: 600;
}

.ct-iconBox--type2.ct-iconBox--primary{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-primary;
  }
}
.ct-iconBox--type2.ct-iconBox--green{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-success;
  }
}
.ct-iconBox--type2.ct-iconBox--orange{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-warning;
  }
}
.ct-iconBox--type2.ct-iconBox--blue{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-info;
  }
}
.ct-iconBox--type2.ct-iconBox--gold{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-gold;
  }
}

.ct-iconBox--type2.ct-iconBox--gray{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-darkGray;
  }
}

.ct-iconBox--type2.ct-iconBox--purple{
  .ct-iconBox-title, .ct-iconBox-counter{
    color: @brand-purple;
  }
}

.ct-iconBox--type3{
  margin-bottom: 65px;
  .ct-iconBox-icon{
    float: left;
    line-height: 75px;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    text-align: center;
    font-size: 33px;
    color: #ffffff;
    .ct-m-clearfix();
    .ct-m-rounded(50%);
  }
  .ct-iconBox-content{
    overflow: hidden;
    zoom: 1;
  }
  .ct-iconBox-title{
    margin-top: 0;
  }
  .ct-iconBox-description{
    color: #9c9c9c;
    line-height: 22px;
  }
}

.ct-iconBox--type3.ct-iconBox--primary{
  .ct-iconBox-icon{
    background-color: @brand-primary;
  }
}
.ct-iconBox--type3.ct-iconBox--green{
  .ct-iconBox-icon{
    background-color: @brand-success;
  }
}
.ct-iconBox--type3.ct-iconBox--orange{
  .ct-iconBox-icon{
    background-color: @brand-warning;
  }
}
.ct-iconBox--type3.ct-iconBox--blue{
  .ct-iconBox-icon{
    background-color: @brand-info;
  }
}
.ct-iconBox--type3.ct-iconBox--gold{
  .ct-iconBox-icon{
    background-color: @brand-gold;
  }
}

.ct-iconBox--type3.ct-iconBox--gray{
  .ct-iconBox-icon{
    background-color: @brand-darkGray;
  }
}

.ct-iconBox--type3.ct-iconBox--purple{
  .ct-iconBox-icon{
    background-color: @brand-purple;
  }
}

@media(max-width: @screen-xs){
  .ct-iconBox.ct-iconBox--type2{
    text-align: center;
    .ct-iconBox-icon{
      text-align: center;
      float: none;
      margin: auto;
      padding-bottom: 10px;
      padding-right: 0;
      img, i{
        padding-left: 0px;
        float: none;
        display: inline;
      }
    }
  }
}

.ct-iconBox.ct-iconBox--type4{
  margin-bottom: 40px;
  color: #ffffff;
  padding: 15px 20px;
  .ct-iconBox-title{
    margin: 0;
  }
  h3{
    font-size: 24px;
    line-height: 1.2;
  }
  .ct-iconBox-icon{
    line-height: 55px;
    text-align: left;
    float: left;
    font-size: 45px;
    padding-right: 20px;
    .ct-m-clearfix();
    img{
      vertical-align: text-bottom;
    }
  }
  .ct-iconBox-content{
    overflow: hidden;
  }
}

.ct-iconBox--type4.ct-iconBox--primary{
  background-color: @brand-primary;
}
.ct-iconBox--type4.ct-iconBox--green{
  background-color: @brand-success;
}
.ct-iconBox--type4.ct-iconBox--orange{
  background-color: @brand-warning;
}
.ct-iconBox--type4.ct-iconBox--blue{
  background-color: @brand-info;
}
.ct-iconBox--type4.ct-iconBox--gold{
  background-color: @brand-gold;
}

.ct-iconBox--type4.ct-iconBox--gray{
  background-color: @brand-darkGray;
}

.ct-iconBox--type4.ct-iconBox--purple{
  background-color: @brand-purple;
}