ul.list-unstyled, ol.list-unstyled{
  li{
    padding: 8px 0;
    font-size: 16px;
    font-family: @ct-secondaryFont;
  }
}

.list-inline{
  margin: 0;
}

.ct-list-arrowPrimary,
.ct-list-arrowGold,
.ct-list-arrowGreen,
.ct-list-arrowBlue,
.ct-list-arrowOrange,
.ct-list-arrowGray,
.ct-list-arrowPurple,
.ct-list-arrowWhite{
  li{
    line-height: 1;
  }
  li:before{
    content: "\f0da";
    font-family: fontawesome;
    margin-right: 20px;
    font-size: 18px;
  }
}
.ct-list-arrowPrimary{
  li:before{
    color: @brand-primary;
  }
}
.ct-list-arrowGold{
  li:before{
    color: @brand-gold;
  }
}
.ct-list-arrowGreen{
  li:before{
    color: @brand-success;
  }
}
.ct-list-arrowBlue{
  li:before{
    color: @brand-info;
  }
}
.ct-list-arrowOrange{
  li:before{
    color: @brand-warning;
  }
}
.ct-list-arrowGray{
  li:before{
    color: @brand-darkGray;
  }
}
.ct-list-arrowPurple{
  li:before{
    color: @brand-purple;
  }
}
.ct-list-arrowWhite{
  li:before{
    color: #ffffff;
  }
}

.ct-contactList{
  > li{
    line-height: 1.3;
    i{
      font-size: 25px;
      margin-right: 20px;
      float: left;
      height: 30px;
    }
    span{
      overflow: hidden;
      zoom: 1;
    }
  }
}

@media(max-width: @screen-xs-max){
  .ct-contactList{
    > li{
      i{
        float: none;
        display: block;
        margin: auto;
      }
    }
  }
}

.ct-termList .pull-left{
  margin-right: 7px;
}

.ct-termList--primary{
  .pull-left{
    color: @brand-primary;
  }
}