// Variation options // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct--navbarFixed{
  padding-top: 95px;
  nav.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.ct--TopBarFixed{
  padding-top: 44px;
  .ct-topBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.navbar.is-small{
  min-height: 0px;
  .ct-m-boxShadow(0px 0px 13px 0px rgba(0,0,0,0.75));
  .navbar-nav > li > a{
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .navbar-nav > li.dropdown > a:after{
    top: 35px;
  }
}

.navbar.is-top{
  top: 0 !important;
}

.ct--TopBarFixed.ct--navbarFixed{
  padding-top: 139px;
  nav.navbar{
    top: 44px;
  }
}

@media (max-width: @screen-xs-max) {
  body {
    padding-top: 0 !important;
  }
}
// Topbar Style // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-topBar.is-hidden{
  top: -44px;
}

.ct-topBar{
  .ct-m-transition(all, 0.4s, ease);
  z-index: 9991;
  line-height: 16px;
  color: @ct-topBar-color;
  font-family: @ct-navbar-font;
  .ct-topBar-navigation{

    ul, ol{
      padding: 14px 0;
      margin-bottom: 0;
      li{
        line-height: 15px;
        padding: 0 14px !important;
        &:first-child{
          padding-left: 0 !important;
        }
      }
    }
  }
  ul.list-unstyled li, ol.list-unstyled li{
    font-size: 15px;
  }
  .ct-topBar-basket{
    img{
      vertical-align: bottom;
      margin-right: 5px;
    }
    text-transform: uppercase;
    position: relative;
    padding: 12px 0;
    padding-right: 25px;
    display: inline-block;
    .ct-topBar-basket-quantity{
      color: lighten(@ct-topBar-background, 20%);
    }
    &:before{
      content: "";
      width: 100%;
      height: 20px;
      position: absolute;
      top: 42px;
      display: block;
      z-index: 9990;
    }
  }
  .btn-group{
    vertical-align: top;
    .btn{
      font-weight: normal;
      line-height: 26px;
      padding: 8px 5px;
      min-width: 46px;
      &:before, &:after{
        display: none;
      }
    }
  }
}

.ct-topBar-basketContainer{
  text-transform: none;
  min-width: 260px;
  position: absolute;
  top: 52px;
  border: 1px solid #f3f3f3;
  background-color: #fbfbfb;
  color: #7e7e7e;
  z-index: 9990;
  visibility: hidden;
  .ct-m-opacity(0);
  .ct-m-transition(all, 0.2s, ease);
  .btn{
    color: #ffffff;
  }
}

.ct-topBar-basketEmpty{
  padding: 20px 18px;
  display: block;
}

.ct-topBar-basketProducts{
  padding: 14px 14px 0px 14px;
  margin-bottom: 0;
  font-family: @ct-secondaryFont;
}
.ct-topBar-basketProduct, .ct-shopMenuMobile-basketProduct{
  padding-top: 0 !important;
  padding-bottom: 10px !important;
  .ct-m-clearfix();
  img{
    float: left;
    max-width: 60px;
    border: 1px solid #eaeaea;
    margin-right: 10px;
  }
  .ct-topBar-basketProductContent{
    overflow: hidden;
    zoom: 1;
  }
}

.ct-topBar-subTotal{
  font-size: 14px;
  color: #7e7e7e;
  font-family: @ct-secondaryFont;
}

.ct-topBar-basketProductTitle{
  line-height: 30px;
}
.ct-topBar-basketProductPrice, .ct-shopMenuMobile-basketProductPrice{
  display: block;
}
.ct-topBar-basketProductPrice{
  color: @brand-primary;
}

.ct-topBar-basketWrap{
  .ct-m-clearfix();
  padding: 20px 17px 4px 17px;
  margin-top: 16px;
  border-top: 1px solid #eaeaea;
  &:last-child{
    padding-bottom: 28px;
  }
  .btn-block{
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }
}

.ct-topBar-basket:hover, .ct-topBar-basketContainer:hover{
  .ct-topBar-basketContainer{
    visibility: visible;
    .ct-m-opacity(1);
  }
}

.ct-topBar--default{
  background-color: @ct-topBar-background;
  a{
    color: inherit;
    &:hover, &:focus, &:active{
      .ct-m-opacity(0.8);
    }
  }
  .ct-topBar-navigation ul, .ct-topBar-navigation ol{
    li{
      border-left: 1px solid lighten(@ct-topBar-background, 10%);
      &:first-child{
        border-left: none;
      }
    }
  }
}

@media(max-width: @screen-xs-max){
  .ct-topBar{
    display: none;
  }
}

// Navbar Style // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.navbar-default{
  background-color: @ct-navbar-background;
  border: none;
  font-family: @ct-navbar-font;
  .navbar-nav{
    > li{
      a{
        color: #5f5f5f;
      }
      a:hover, a:focus, a:active{
        color: @ct-navbar-color;
      }
      &.active > a{
        background-color: transparent;
        color: @ct-navbar-color;
        &:hover, &:focus, &:active{
          background-color: transparent;
          color: @ct-navbar-color;
        }
      }
    }
  }
}

.navbar {
  .ct-m-transition(all, 0.4s, ease);
  z-index: @z-index-9 !important;
  margin-bottom: 0;
  border: none;
  .container{
    position: relative;
  }
  .navbar-collapse{
    padding: 0;
  }
}

.navbar-nav{
  text-transform: uppercase;
  font-weight: 600;
  > li{
    > a{
      padding: 34px 17px;
    }
    &:first-child > a{
      padding-left: 0;
    }
  }
}

@media(max-width: @screen-xs-max){
  .navbar{
    display: none;
  }
}


// Mobile Menu Style // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.snapjs-left, .snapjs-right {
  overflow: hidden !important;
  height: 100%;
}
.snapjs-right{
  .ct-shopMenuMobile{
    right: 0;
  }
}
.snapjs-left{
  .ct-menuMobile{
    left: 0;
  }
}

.ct-navbar--fixedTop{
  .ct-navbarMobile{
    position: fixed;
  }
}

.ct-navbarMobile{
  position: absolute;
  .ct-m-transition(all, 0.2s, ease);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: @z-index-9;
  background-color: @ct-navbar-background;
  text-align: center;
  .navbar-brand{
    height: 70px;
    padding: 0 15px;
    line-height: 70px;
    float: none;
    > img{
      max-height: 60px;
      display: inline;
    }
  }
  .navbar-toggle, .navbarShop-toggle{
    position: absolute;
    top: 10px;
  }
  .navbar-toggle{
    left: 0px;
    .icon-bar{
      background-color: @text-color;
    }
  }
  .navbarShop-toggle{
    right: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 16px;
    font-size: 20px;
    outline: none;
    .icon-bar{
      background-color: @text-color;
    }
  }
}

.snapjs-right, .snapjs-left{
  .ct-menuMobile, .ct-shopMenuMobile{
    overflow: scroll;
  }
}

.ct-menuMobile, .ct-shopMenuMobile{
  background: @ct-navbar-dropdownBackground;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 266px;
  max-height: 100%;
  overflow: hidden;
  .ct-menuMobile-navbar, .ct-shopMenuMobile-navbar{
    margin-top: 10px;
    padding: 0;
    list-style: none;
    li {
      padding: 0px;
      a {
        color: #ffffff;
        padding: 10px 20px;
        display: block;
        background-color: transparent;
        &:focus, &:active {
          outline: none !important;
        }
      }
      &.active {
        background-color: #ffffff;
        > a{
          color: @ct-navbar-dropdownBackground;
        }
      }
    }
    .dropdown-menu > .active{
      > a, > a:hover, > a:focus{
        background-color: transparent;
      }
    }
  }
}
.ct-menuMobile{
  left: -100%;
  .ct-menuMobile-navbar{
    .dropdown-menu, .dropdown-submenu .dropdown-menu{
      position: relative;
      display: block;
      max-height: 0;
      padding: 0;
      .ct-m-transition(all 0.2s ease);
      overflow: hidden;
      border: none;
      width: 100%;
      left: 0;
      background-color: darken(@ct-navbar-dropdownBackground,5%);
      .dropdown-menu{
        display: block;
        .ct-m-boxShadow(none);
      }
      .dropdown-submenu{
        .dropdown-menu{
          padding-left: 20px;
        }
      }
    }
    .open{
      > .dropdown-menu, {
        padding: 10px 0;
        margin: 0 0 10px 0;
        max-height: none;
      }
    }
    li.dropdown, li.dropdown-submenu{
      > a {
        position: relative;
        &:after {
          content: "\f0d7";
          font-family: fontawesome;
          position: absolute;
          top: 50%;
          font-size: 10px;
          right: 0;
          pointer-events: none;
          margin-top: -9px;
        }
      }
      &.open > a:after{
        content: "\f0d8";
      }
    }
  }
}

.ct-shopMenuMobile{
  right: -100%;
  .ct-shopMenuMobile-navbar{
    border-bottom: 1px solid lighten(@ct-navbar-dropdownBackground, 10%);
    .ct-m-clearfix();
  }
  .ct-shopMenuMobile-basket{
    > a{
      color: #ffffff;
      padding: 20px;
      display: block;
    }
  }
  .ct-shopMenuMobile-basketContainer{
    padding: 10px 20px;
    border-top: 1px solid lighten(@ct-navbar-dropdownBackground, 10%);
  }
  .ct-shopMenuMobile-basketProduct{
    a{
      color: #ffffff;
    }
  }
  .btn-group{
    display: block;
    float: left;
    width: 50%;
    > .btn{
      width: 100%;
    }
  }
}

.ct-shopMenuMobile-subTotal{
  padding: 10px 0;
  color: #ffffff;
}

@media (min-width: @screen-sm) {
  .ct-navbarMobile, .ct-menuMobile{
    display: none;
  }
}

// Dropdowns // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.navbar-nav{
  text-transform: uppercase;
  font-weight: 600;
  > li .dropdown-menu{
    text-align: center;
    background-color: @ct-navbar-dropdownBackground;
    a{
      color:@ct-navbar-dropdownColor ;
      &:before{
        content: "\f0da";
        font-family: fontawesome;
        position: absolute;
        margin-left: -15px;
        .ct-m-transition(all, 0.2s, ease);
        .ct-m-opacity(0);
      }
    }
    li:hover > a, li.active > a{
      color:@ct-navbar-dropdownColor ;
      background-color: transparent;
      &:before{
        .ct-m-opacity(1);
      }
    }
  }
  > li:hover{
    > .dropdown-menu{
      display: block;
    }
  }
  > li.dropdown > a{
    position: relative;
    &:after{
      content: "\f0d7";
      font-family: fontawesome;
      text-align: center;
      position: absolute;
      top: 55px;
      font-size: 10px;
      left: 0;
      width: 100%;
      pointer-events: none;
      .ct-m-transition(all, 0.2s, ease);
    }
  }
}
.dropdown-menu{
  border: none;
  margin: 0;
  .ct-m-boxShadow(none);
  > li{
    > a{
      padding: 10px 15px;
    }
  }
  .dropdown-submenu{
    position: relative;
    .dropdown-menu{
      position: absolute;
      left: 100%;
      top: 6px;
      margin-left: 10px;
      &:before{
        content: "";
        width: 20px;
        position: absolute;
        left: -15px;
        height: 47px;
        top: 0;
      }
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5.5px 7px 5.5px 0;
        border-color: transparent @brand-primary transparent transparent;
        position: absolute;
        left: -7px;
        top: 14px;
      }
    }
    &:hover{
      > .dropdown-menu{
        display: block;
      }
    }
  }
}

// Mega Menu // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.yamm-content{
  padding: 15px 45px;
  text-align: left;
  font-weight: normal;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6{
    color: #ffffff;
    display: inline-block;
    small{
      color: #ffffff;
    }
    &:after{
      margin-top: 10px;
      content: "";
      display: block;
      border-top: 1px solid #999999;
      border-top: 1px solid rgba(30,30,30, 0.1);
      border-bottom: 1px solid rgb(255,255,255);
      border-bottom: 1px solid rgba(255,255,255, 0.3);
    }
  }
}

// Dropdowns Animation Styles // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-navbar--bounceIn{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: bounceIn;
      animation-name: bounceIn;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--fadeIn{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--fadeInLeft{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--fadeInRight{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--fadeInDown{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--fadeInUp{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--pulse {
  > li.dropdown:hover {
    .dropdown-menu {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}

.ct-navbar--bounceInRight{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: bounceInRight;
      animation-name: bounceInRight;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--bounceInLeft{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: bounceInLeft;
      animation-name: bounceInLeft;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--flipInX{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: flipInX;
      animation-name: flipInX;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--flipInY{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: flipInY;
      animation-name: flipInY;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--zoomIn{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--zoomInDown{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: zoomInDown;
      animation-name: zoomInDown;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}
.ct-navbar--zoomInUp{
  > li.dropdown:hover{
    .dropdown-menu{
      -webkit-animation-name: zoomInUp;
      animation-name: zoomInUp;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}