.pagination{
  > li{
    > a, > span{
      margin: 0 4px;
      .ct-m-rounded(50%) !important;
      width: 44px;
      height: 44px;
      padding: 0;
      text-align: center;
      line-height: 40px;
      border: 2px solid #dbdbdb;
      color: #a1a1a1;
    }
    &.prev a{
      margin-right: 20px;
    }
    &.next a{
      margin-left: 20px;
      margin-right: 0;
    }
    &.prev a, &.next a{
      background-color: @brand-primary;
      color: #ffffff;
      border-color: @brand-primary;
    }
    &.active a, &.active a:hover, &.active a:focus, &.active a:active, > a:hover, > a:focus, > a:active{
      background-color: @brand-darkGray;
      color: #ffffff;
      border-color: @brand-darkGray;
    }
  }
}