.ct-divider--primary .col-md-6:last-child,
.ct-divider--green .col-md-6:last-child,
.ct-divider--gray .col-md-6:last-child,
.ct-divider--orange .col-md-6:last-child,
.ct-divider--purple .col-md-6:last-child,
.ct-divider--blue .col-md-6:last-child,
.ct-divider--gold .col-md-6:last-child,
.ct-u-backgroundDarkGray,
.ct-u-backgroundPrimary,
.ct-u-backgroundGreen,
.ct-u-backgroundOrange,
.ct-u-backgroundPurple,
.ct-u-backgroundBlue,
.ct-u-backgroundGold{
  .ct-personBox{
    background-color: #ffffff;
  }
}

.ct-personBox--thumb, .ct-personBox--left{
  .ct-m-clearfix();
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: @text-color;
  .ct-personBox-name{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 7px 15px;
    position: relative;
    font-family: @ct-secondaryFont;
    font-weight: 600;
    &:before, &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
    }
    &:before{
      top: -4px;
    }
    &:after{
      bottom: -4px;
    }
  }
  .ct-personBox-name:hover, .ct-personBox-image:hover + .ct-personBox-name{
    &:before{
      -webkit-animation-name: moveRibbonsRight;
      animation-name: moveRibbonsRight;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
    }
    &:after{
      -webkit-animation-name: moveRibbonsLeft;
      animation-name: moveRibbonsLeft;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
    }
  }
  p{
    margin-bottom: 20px;
  }
}
.ct-personBox--thumb{
  text-align: center;
  .ct-u-sectionHeader{
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 18px;
  }
  .ct-personBox-description{
    padding: 30px 15px 15px 15px;
  }
}
.ct-personBox--left{
  .pull-left{
    margin-right: 18px;
  }
  .ct-personBox-right{
    overflow: hidden;
    zoom: 1;
  }
  .ct-personBox-description{
    padding-top: 15px;
  }
  .ct-u-sectionHeader{
    color: #9c9c9c;
    font-size: 14px;
  }
  .ct-personBox-name{
    text-align: center;
  }
  .ct-personBox-descriptionName{
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    color: @text-color;
    font-weight: 600;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 35px;
  }
  p{
    margin-bottom: 30px;
  }
  .ct-u-moustache{
    margin-bottom: 15px;
  }
}

.flexslider .ct-personBox-image{
  max-height: 196px;
  overflow: hidden;
}
.flexslider .ct-personBox{
  padding-bottom: 0;
}

.ct-personBox--primary{
  .ct-personBox-name{
    background-color: @brand-primary;
    &:before{
      background: url("@{base-url}/btmBoxRound-primary-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-primary.png");
    }
  }
}
.ct-personBox--green{
  .ct-personBox-name{
    background-color: @brand-success;
    &:before{
      background: url("@{base-url}/btmBoxRound-green-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-green.png");
    }
  }
}
.ct-personBox--orange{
  .ct-personBox-name{
    background-color: @brand-warning;
    &:before{
      background: url("@{base-url}/btmBoxRound-orange-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-orange.png");
    }
  }
}
.ct-personBox--blue{
  .ct-personBox-name{
    background-color: @brand-info;
    &:before{
      background: url("@{base-url}/btmBoxRound-blue-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-blue.png");
    }
  }
}
.ct-personBox--purple{
  .ct-personBox-name{
    background-color: @brand-purple;
    &:before{
      background: url("@{base-url}/btmBoxRound-purple-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-purple.png");
    }
  }
}
.ct-personBox--gray{
  .ct-personBox-name{
    background-color: @brand-darkGray;
    &:before{
      background: url("@{base-url}/btmBoxRound-gray-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-gray.png");
    }
  }
}
.ct-personBox--gold{
  .ct-personBox-name{
    background-color: @brand-gold;
    &:before{
      background: url("@{base-url}/btmBoxRound-gold-top.png");
    }
    &:after{
      background: url("@{base-url}/btmBoxRound-gold.png");
    }
  }
}

@media(max-width: @screen-md-max){
  .ct-personBox--left{
    text-align: center;
    .ct-u-sectionHeader{
      font-size: 18px;
      color: inherit;
      margin-bottom: 25px;
    }
    .ct-personBox-description{
      padding: 30px 15px 15px 15px;
    }
    .pull-left{
      margin-right: 0;
      float: none !important;
    }
    .ct-personBox-descriptionName{
      display: none;
    }
    p{
      margin-bottom: 20px;
    }
    .ct-u-moustache{
      margin-bottom: 0px;
    }
  }
}