.ct-pricingBox{
  text-align: center;
  padding-bottom: 25px;
  color: #ffffff;
  position: relative;
  margin-top: 60px;
  &.ct-pricingBox--important{
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  hr.ct-dotted{
    margin: 25px 15px 0px 15px;
  }
  .ct-pricingbox-number{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    border: 4px solid #ffffff;
    .ct-m-rounded(50%);
    line-height: 52px;
    font-size: 20px;
    font-weight: 600;
  }
  .ct-pricingBox-pricing{
    padding-top: 50px;
    font-weight: 600;
    line-height: 1;
    font-family: @ct-secondaryFont;
    .ct-pricingBox-price{
      font-size: 110px;
      sup{
        font-size: 55px;
        top: -0.6em;
      }
    }
    .ct-pricingBox-priceSub{
      text-transform: uppercase;
      margin-left: -60px;
      font-size: 20px;
    }
  }
  .ct-pricingBox-list{
    padding: 25px 60px 8px 60px;
    text-align: left;
  }
  &:before, &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  &:before{
    top: -3px;
  }
  &:after{
    bottom: -3px;
  }
}

.ct-pricingBox--primary{
  background-color: @brand-primary;
  .ct-pricingbox-number{
    background-color: @brand-primary;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-primary;
  }
  &:before{
    background: url("@{base-url}/btmBox-primary-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-primary.png");
  }
}
.ct-pricingBox--gold{
  background-color: @brand-gold;
  .ct-pricingbox-number{
    background-color: @brand-gold;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-gold;
  }
  &:before{
    background: url("@{base-url}/btmBox-gold-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-gold.png");
  }
}

.ct-pricingBox--green{
  background-color: @brand-success;
  .ct-pricingbox-number{
    background-color: @brand-success;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-success;
  }
  &:before{
    background: url("@{base-url}/btmBox-green-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-green.png");
  }
}
.ct-pricingBox--blue{
  background-color: @brand-info;
  .ct-pricingbox-number{
    background-color: @brand-info;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-info;
  }
  &:before{
    background: url("@{base-url}/btmBox-blue-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-blue.png");
  }
}
.ct-pricingBox--orange{
  background-color: @brand-warning;
  .ct-pricingbox-number{
    background-color: @brand-warning;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-warning;
  }
  &:before{
    background: url("@{base-url}/btmBox-orange-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-orange.png");
  }
}
.ct-pricingBox--purple{
  background-color: @brand-purple;
  .ct-pricingbox-number{
    background-color: @brand-purple;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-purple;
  }
  &:before{
    background: url("@{base-url}/btmBox-purple-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-purple.png");
  }
}
.ct-pricingBox--gray{
  background-color: @brand-darkGray;
  .ct-pricingbox-number{
    background-color: @brand-darkGray;
  }
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default{
    color: @brand-darkGray;
  }
  &:before{
    background: url("@{base-url}/btmBox-gray-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-gray.png");
  }
}

@media(max-width: @screen-sm-max){
  .ct-pricingBox {
    &.ct-pricingBox--important {
      margin-top: 60px;
    }
    .ct-pricingBox-list{
      padding: 25px 15px 8px 15px;
    }
  }
}