.ct-productBox{
  background-color: #ffffff;
  position: relative;
  width: 100%;
  .ct-productBox-content{
    color: #5f5f5f;
    text-align: center;
  }
  .ct-productBox-title{
    margin-bottom: 0;
  }
  .ct-productBox-title a{
    color: inherit;
  }
  .ct-productBox-overlayIcon:hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

.ct-productBox--type1{
  .ct-m-transition(all, 0.4s, ease);
  .ct-productBox-image{
    max-height: 177px;
    overflow: hidden;
  }
  .ct-productBox-overlay{
    position: relative;
  }
  .ct-productBox-overlayIcon{
    position: absolute;
    left: 50%;
    text-align: center;
    background-color: @brand-primary;
    .ct-m-rounded(50%);
    .ct-m-transition(all, 0.2s, ease);
    width: 55px;
    height: 55px;
    line-height: 45px;
    font-size: 25px;
    margin-top: -27.5px;
    margin-left: -27.5px;
    border: 5px solid #ffffff;
    color: #ffffff;
    overflow: hidden;
  }
  .ct-productBox-title{
    margin-top: 7.5px;
  }
  .ct-productBox-content{
    display: block;
    padding: 27px 10px 10px 10px;
  }
  &:hover, &:focus, &:active{
    .ct-productBox-content {
      color: #ffffff;
    }
  }
}

@media (max-width: @screen-xs-max){
  .ct-productBox--type1 {
    .ct-productBox-image {
      max-height: none;
    }
  }
}
.ct-productBox--type1.ct-productBox--primary:hover,
.ct-productBox--type1.ct-productBox--primary:focus,
.ct-productBox--type1.ct-productBox--primary:active{
  background-color: @brand-primary;
}
.ct-productBox--type1.ct-productBox--green:hover,
.ct-productBox--type1.ct-productBox--green:focus,
.ct-productBox--type1.ct-productBox--green:active{
  background-color: @brand-success;
  .ct-productBox-overlayIcon{
    background-color: @brand-success;
  }
}
.ct-productBox--type1.ct-productBox--blue:hover,
.ct-productBox--type1.ct-productBox--blue:focus,
.ct-productBox--type1.ct-productBox--blue:active{
  background-color: @brand-info;
  .ct-productBox-overlayIcon{
    background-color: @brand-info;
  }
}
.ct-productBox--type1.ct-productBox--orange:hover,
.ct-productBox--type1.ct-productBox--orange:focus,
.ct-productBox--type1.ct-productBox--orange:active{
  background-color: @brand-warning;
  .ct-productBox-overlayIcon{
    background-color: @brand-warning;
  }
}
.ct-productBox--type1.ct-productBox--purple:hover,
.ct-productBox--type1.ct-productBox--purple:focus,
.ct-productBox--type1.ct-productBox--purple:active{
  background-color: @brand-purple;
  .ct-productBox-overlayIcon{
    background-color: @brand-purple;
  }
}
.ct-productBox--type1.ct-productBox--gold:hover,
.ct-productBox--type1.ct-productBox--gold:focus,
.ct-productBox--type1.ct-productBox--gold:active{
  background-color: @brand-gold;
  .ct-productBox-overlayIcon{
    background-color: @brand-gold;
  }
}
.ct-productBox--type1.ct-productBox--gray:hover,
.ct-productBox--type1.ct-productBox--gray:focus,
.ct-productBox--type1.ct-productBox--gray:active{
  background-color: @brand-darkGray;
  .ct-productBox-overlayIcon{
    background-color: @brand-darkGray;
  }
}

.ct-productBox--type2{
  margin-bottom: 35px;
  .ct-productBox-image{
    overflow: hidden;
    position: relative;
    .ct-productBox-overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: @brand-success;
        .ct-m-transition(all, 0.4s, ease);
        .ct-m-opacity(0);
      }
      a{
        color: #ffffff;
      }
    }
    .ct-productBox-overlayIcon{
      .ct-m-opacity(0);
      width: 250px;
      height: 250px;
      line-height: 240px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -125px;
      margin-left: -125px;
      text-align: center;
      background-color: @brand-primary;
      .ct-m-rounded(50%);
      border: 15px solid #ffffff;
      font-size: 65px;
      .ct-m-transition(all, 0.2s, ease);
    }
  }
  .ct-productBox-title{
    font-size: 16px;
  }
  .ct-productBox-title a{
    &:hover, &:focus, &:active{
      color: @brand-primary;
    }
  }
  .ct-productBox-content{
    padding: 15px 10px 30px 10px;
  }
  .ct-u-moustache{
    margin-top: 20px;
  }
  .ct-productBox-price{
    font-size: 19px;
    font-weight: 600;
    font-family: @ct-secondaryFont;
  }
  &:hover, &:focus, &:active{
    .ct-productBox-overlay:before{
      .ct-m-opacity(0.8);
    }
    .ct-productBox-overlayIcon{
      .ct-m-opacity(1);
      width: 55px;
      height: 55px;
      line-height: 45px;
      font-size: 25px;
      margin-top: -27.5px;
      margin-left: -27.5px;
      border: 5px solid #ffffff;
    }
  }
  &:before, &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: @z-index-1;
  }
  &:before{
    top: 0;
    background: url("@{base-url}/btmBox.png") repeat-x;
  }
  &:after{
    bottom: -3px;
    background: url("@{base-url}/btmBox.png") repeat-x;
  }
}
.ct-productBox--type2.ct-productBox--primary{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-primary;
    }
  }
}
.ct-productBox--type2.ct-productBox--green{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-success;
    }
  }
}
.ct-productBox--type2.ct-productBox--blue{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-info;
    }
  }
}
.ct-productBox--type2.ct-productBox--orange{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-warning;
    }
  }
}
.ct-productBox--type2.ct-productBox--purple{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-purple;
    }
  }
}
.ct-productBox--type2.ct-productBox--gold{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-gold;
    }
  }
}
.ct-productBox--type2.ct-productBox--gray{
  .ct-productBox-image {
    .ct-productBox-overlay:before {
      background-color: @brand-darkGray;
    }
  }
}

.ct-divider--primary .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-primary.png") repeat-x;
  }
}
.ct-divider--green .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-green.png") repeat-x;
  }
}
.ct-divider--orange .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-orange.png") repeat-x;
  }
}
.ct-divider--purple .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-purple.png") repeat-x;
  }
}
.ct-divider--gray .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-gray.png") repeat-x;
  }
}
.ct-divider--gold .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-gold.png") repeat-x;
  }
}
.ct-divider--blue .col-md-6:last-child{
  .ct-productBox--type2:before{
    background: url("@{base-url}/btmBox-blue.png") repeat-x;
  }
}
