.ct-progressBar{
  margin-bottom: 20px;
  background-color: #f4f4f4;
  .ct-m-clearfix();
  .ct-progressBar-title{
    float: left;
    background-color: @brand-primary;
    padding: 20px 40px;
    color: #ffffff;
    height: 70px;
    width: 30%;
    text-align: center;
  }
  .ct-progressBar-container{
    padding: 18px;
    float: left;
    width: 70%;
  }
  .progress{
    height: 34px;
    margin: 0;
    background-color: #ffffff;
    overflow: visible;
  }
  .progress-bar, .progress{
    .ct-m-boxShadow(none);
  }
  .progress-bar{
    position: relative;
    &:before, &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: #f4f4f4;
    }
    &:before{
      top: -3px;
      -webkit-animation-name: moveRibbonsRight;
      animation-name: moveRibbonsRight;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 35s;
      animation-duration: 35s;
    }
    &:after{
      bottom: -3px;
      -webkit-animation-name: moveRibbonsLeft;
      animation-name: moveRibbonsLeft;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 35s;
      animation-duration: 35s;
    }
  }
  .ct-progressBar-text{
    .ct-m-transform(translate3d(0,50px,0) rotate3d(1,1,1,6deg));
    .ct-m-transition(all, 0.4s, ease);
    .ct-m-opacity(0);
    min-width: 150px;
    position: absolute;
    background-color: @brand-primary;
    .ct-m-rounded(10px);
    padding: 15px;
    display: block;
    z-index: 5;
    bottom: 45px;
    left: 60%;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    span{
      .ct-m-opacity(0.8);
    }
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 3px 0 3px;
      border-color: @brand-primary transparent transparent transparent;
      bottom: -5px;
      left: 50%;
      margin-left: -3px;
      position: absolute;
    }
  }
  &:hover{
    .ct-progressBar-text{
      .ct-m-transform(translate3d(0,0,0) rotate3d(0,0,0,0));
      .ct-m-opacity(1);
    }
  }
}

.progress-bar-primary{
  &:before{
    background: url("@{base-url}/btmBox-primary-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-primary.png");
  }
}
.progress-bar-success{
  &:before{
    background: url("@{base-url}/btmBox-green-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-green.png");
  }
}
.progress-bar-warning{
  &:before{
    background: url("@{base-url}/btmBox-orange-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-orange.png");
  }
}
.progress-bar-info{
  &:before{
    background: url("@{base-url}/btmBox-blue-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-blue.png");
  }
}
.progress-bar-purple{
  background-color: @brand-purple;
  &:before{
    background: url("@{base-url}/btmBox-purple-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-purple.png");
  }
}
.progress-bar-gold{
  background-color: @brand-gold;
  &:before{
    background: url("@{base-url}/btmBox-gold-top.png");
  }
  &:after{
    background: url("@{base-url}/btmBox-gold.png");
  }
}

.progress-icons:before{
  display: none;
}
.progress-icons{
  line-height: 1;
}