.ct-socials{
  font-size: 25px;
  line-height: 1;
  > li{
    padding: 0 15px !important;
    line-height: 1;
    &:first-child{
      padding-left: 0 !important;
    }
    &:last-child{
      padding-right: 0 !important;
    }
  }
  a{
    color: inherit;
  }
  a:hover{
    color: @brand-primary;
  }
}

.ct-socials--rounded{
  > li{
    padding: 0 6px !important;
  }
  a{
    width: 50px;
    height: 50px;
    display: block;
    .ct-m-rounded(50%);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }
  .ct-socials--primary a{
    background-color: @brand-primary;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-primary, 10%);
    }
  }
  .ct-socials--green a{
    background-color: @brand-success;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-success, 10%)
    }
  }
  .ct-socials--blue a{
    background-color: @brand-info;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-info, 10%)
    }
  }
  .ct-socials--orange a{
    background-color: @brand-warning;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-warning, 10%)
    }
  }
  .ct-socials--purple a{
    background-color: @brand-purple;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-purple, 10%)
    }
  }
  .ct-socials--gold a{
    background-color: @brand-gold;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-gold, 10%)
    }
  }
  .ct-socials--gray a{
    background-color: @brand-darkGray;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@brand-darkGray, 10%)
    }
  }
  .ct-socials--yellow a{
    background-color: @ct-pageTitle-background;
    color: #ffffff;
    &:hover{
      color: #ffffff;
      background-color: lighten(@ct-pageTitle-background, 10%)
    }
  }
}

.ct-socials--primary a{
  color: @brand-primary;
  &:hover{
    color: inherit;
  }
}
.ct-socials--green a{
  color: @brand-success;
  &:hover{
    color: inherit;
  }
}
.ct-socials--blue a{
  color: @brand-info;
  &:hover{
    color: inherit;
  }
}
.ct-socials--orange a{
  color: @brand-warning;
  &:hover{
    color: inherit;
  }
}
.ct-socials--purple a{
  color: @brand-purple;
  &:hover{
    color: inherit;
  }
}
.ct-socials--gold a{
  color: @brand-gold;
  &:hover{
    color: inherit;
  }
}
.ct-socials--gray a{
  color: @brand-darkGray;
  &:hover{
    color: inherit;
  }
}
.ct-socials--yellow a{
  color: @ct-pageTitle-background;
  &:hover{
    color: inherit;
  }
}

.navbar{
  .ct-socials{
    line-height: 95px;
    .ct-m-transition(all, 0.2s, ease);
    >li{
      padding: 0 5px !important;
    }
  }
}

.navbar.is-small{
  .ct-socials{
    line-height: 63px;
  }
}