.nav-tabs{
  border: none;
  > li{
    margin-bottom: 0;
    margin-right: 10px;
    a{
      background-color: @brand-purple;
      border-color: @brand-purple;
      color: #ffffff;
      font-family: @ct-secondaryFont;
      padding: 3px 15px;
      &:before, &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
      }
      &:before{
        top: -3px;
        background: url("@{base-url}/btmBox-purple-top.png");
      }
      &:after{
        bottom: -3px;
        background: url("@{base-url}/btmBox-purple.png");
      }
      &:hover:before, &.active:before{
        -webkit-animation-name: moveRibbonsRight;
        animation-name: moveRibbonsRight;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
      }
      &:hover:after, &.active:after{
        -webkit-animation-name: moveRibbonsLeft;
        animation-name: moveRibbonsLeft;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
      }
    }
    a:hover, a:active, a:focus{
      background-color: @brand-purple;
      border-color: @brand-purple;
    }
    &.active{
      a, a:hover, a:active, a:focus{
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: #ffffff;
        &:before{
          background: url("@{base-url}/btmBox-primary-top.png");
        }
        &:after{
          background: url("@{base-url}/btmBox-primary.png");
        }
      }
    }
  }
}

.tab-content{
  padding-top: 30px;
}

@media (max-width: @screen-xs){
  .nav-tabs > li{
    width: 100%;
    a{
      padding: 8px 15px;;
    }
  }
}