@import "../../fonts/fontawesome/less/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

.ct-m-colorFade(@color){
  span{
    color: lighten(@color, 28%);
  }
}

a{
  .ct-m-transition(all, 0.2s, ease);
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

p{
  margin-bottom: 20px;
}

p:last-child{
  margin-bottom: 0;
}

h1, .h1{
  font-size: @h1;
}
h2, .h2{
  font-size: @h2;
}
h3, .h3{
  font-size: @h3;
  line-height: 36px;
}
h4, .h4{
  font-size: @h4;
}
h5, .h5{
  font-size: @h5;
}
h6, .h6{
  font-size: @h6;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: @ct-title-font;
  color: inherit;
  font-weight: 600;
  small{
    color: inherit;
  }
}

address{
  font-family: @ct-secondaryFont;
  line-height: 28px;
}

.ct-u-sectionHeader{
  display: inline-block;
  padding-top: 10px;
  margin: 0;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    .ct-m-opacity(0.5);
  }
  &.ct-u-sectionHeader--primary:before{
    background-color: @brand-primary;
  }
  &.ct-u-sectionHeader--purple:before{
    background-color: @brand-purple;
  }
  &.ct-u-sectionHeader--green:before{
    background-color: @brand-success;
  }
  &.ct-u-sectionHeader--blue:before{
    background-color: @brand-info;
  }
  &.ct-u-sectionHeader--gray:before{
    background-color: @brand-darkGray;
  }
  &.ct-u-sectionHeader--orange:before{
    background-color: @brand-warning;
  }
  &.ct-u-sectionHeader--gold:before{
    background-color: @brand-gold;
  }
}
h3.ct-u-sectionHeader{
  font-size: 24px;
}

.ct-linkWithArrow{
  .h2{
    font-size: 30px;
  }
  a span{
    padding-left: 8px;
    font-size: 24px;
  }
}

.ct-404text{
  font-size: 284px;
  font-weight: 600;
  font-family: @ct-secondaryFont;
  line-height: 0.5;
}

@media(max-width: @screen-xs){
  .ct-404text{
    font-size: 184px;
  }
}

blockquote.ct-quoteLighter{
  color: #9c9c9c;
}

blockquote, .ct-testimonial-quote{
  padding: 0;
  padding-left: 50px;
  border: none;
  font-size: inherit;
  line-height: 28px;
  position: relative;
  &:before{
    position: absolute;
    left: 0;
    content: "";
    width: 39px;
    height: 34px;
    display: block;
    background: url("@{base-url}/quote.png") repeat-x;
  }
}

blockquote.ct-testimonial{
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 0;
  &:last-child{
    margin-bottom: 0;
  }
  &:before{
    background: url("@{base-url}/dots.png") repeat-x;
    width: 100%;
    height: 7px;
    bottom: 0;
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  .img-circle{
    max-width: 110px;
    border: 5px solid #ffffff;
    .ct-m-boxShadow(1px 1px 3px 0px rgba(233, 233, 233, 1));
    margin-right: 20px;
  }
  .ct-testimonial-author{
    text-transform: uppercase;
    font-family: @ct-secondaryFont;
    font-weight: 600;
    padding-left: 50px;
    padding-bottom: 20px;
    cite{
      margin-right: 10px;
      font-style: normal;
      cursor: default;
    }
  }
  .ct-testimonial-content{
    overflow: hidden;
    zoom: 1;
    padding-top: 3px;
  }
  .ct-testimonial-quote{
    min-height: 34px;
  }
  &.ct-testimonial--type2{
    padding-bottom: 0;
    &:before{
      display: none;
    }
    .ct-testimonial-author{
      padding: 0;
      padding-top: 40px;
    }
  }
}

@media(max-width: @screen-xs-max){
  blockquote.ct-testimonial {
    .pull-left {
      float: none !important;
    }
    .img-circle{
      margin: auto;
      display: block;
      margin-bottom: 20px;
    }
    .ct-testimonial-author{
      text-align: center;
    }
    .ct-testimonial-author, .ct-testimonial-quote{
      padding-left: 0;
    }
    &.ct-testimonial--type2 .ct-testimonial-author{
      padding-top: 0;
    }
  }
}

.jumbotron{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  border: 2px solid #e8e8e8;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    margin-top: 0;
  }
  p{
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.tooltip{
  .tooltip-inner{
    .ct-m-rounded(5px);
    background-color: @brand-primary;
    padding: 5px 15px;
  }
}
.tooltip.top .tooltip-arrow{
  border-top-color: @brand-primary;
}
.tooltip.left .tooltip-arrow{
  border-left-color: @brand-primary;
}
.tooltip.right .tooltip-arrow{
  border-right-color: @brand-primary;
}
.tooltip.bottom .tooltip-arrow{
  border-bottom-color: @brand-primary;
}

.popover{
  background-color: @brand-primary;
  .ct-m-rounded(5px);
  .ct-m-boxShadow(none);
  border: none;
  color: #ffffff;
  padding: 13px;
  text-align: center;
}

.popover-title{
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 1px solid darken(@brand-primary, 10%);
}
.popover-content{
  border-top: 1px solid lighten(@brand-primary, 10%);
}

.popover.top > .arrow{
  border-top-color: @brand-primary;
  &:after{
    border-top-color: @brand-primary;
  }
}
.popover.left > .arrow{
  border-left-color: @brand-primary;
  &:after{
    border-left-color: @brand-primary;
  }
}
.popover.right > .arrow{
  border-right-color: @brand-primary;
  &:after{
    border-right-color: @brand-primary;
  }
}
.popover.bottom > .arrow{
  border-bottom-color: @brand-primary;
  &:after{
    border-bottom-color: @brand-primary;
  }
}