// Typography // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-fw-300{
  font-weight: 300;
}
.ct-fw-400{
  font-weight: 400;
}
.ct-fw-500{
  font-weight: 500;
}
.ct-fw-600{
  font-weight: 600;
}
.ct-fw-700{
  font-weight: 700;
}
.ct-fw-800{
  font-weight: 800;
}
.ct-fw-900{
  font-weight: 900;
}

.ct-fs-i{
  font-style: italic;
}

.ct-fs-n{
  font-style: normal;
}

// Display Types // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-displayTable, .ct-u-displayTableVertical{
  display: table;
  width: 100%;
}

.ct-u-displayTableVertical{
  height: 100%;
  .ct-u-displayTableCell{
    vertical-align: middle;
  }
}

.ct-u-displayTableRow{
  display: table-row;
}

.ct-u-displayTableCell{
  display: table-cell;
}

// Paddings // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-paddingBoth10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ct-u-paddingTop10{
 padding-top: 10px;
}
.ct-u-paddingBottom10{
  padding-bottom: 10px;
}
.ct-u-paddingBoth20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.ct-u-paddingTop20{
 padding-top: 20px;
}
.ct-u-paddingBottom20{
  padding-bottom: 20px;
}
.ct-u-paddingBoth30{
  padding-top: 30px;
  padding-bottom: 30px;
}
.ct-u-paddingTop30{
  padding-top: 30px;
}
.ct-u-paddingBottom30{
  padding-bottom: 30px;
}
.ct-u-paddingBoth40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.ct-u-paddingTop40{
  padding-top: 40px;
}
.ct-u-paddingBottom40{
  padding-bottom: 40px;
}
.ct-u-paddingBoth50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.ct-u-paddingTop50{
  padding-top: 50px;
}
.ct-u-paddingBottom50{
  padding-bottom: 50px;
}
.ct-u-paddingBoth60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.ct-u-paddingTop60{
  padding-top: 60px;
}
.ct-u-paddingBottom60{
  padding-bottom: 60px;
}
.ct-u-paddingBoth70{
  padding-top: 70px;
  padding-bottom: 70px;
}
.ct-u-paddingTop70{
  padding-top: 70px;
}
.ct-u-paddingBottom70{
  padding-bottom: 70px;
}
.ct-u-paddingBoth80{
  padding-top: 80px;
  padding-bottom: 80px;
}
.ct-u-paddingTop80{
  padding-top: 80px;
}
.ct-u-paddingBottom80{
  padding-bottom: 80px;
}
.ct-u-paddingBoth90{
  padding-top: 90px;
  padding-bottom: 90px;
}
.ct-u-paddingTop90{
  padding-top: 90px;
}
.ct-u-paddingBottom90{
  padding-bottom: 90px;
}
.ct-u-paddingBoth100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.ct-u-paddingTop100{
  padding-top: 100px;
}
.ct-u-paddingBottom100{
  padding-bottom: 100px;
}
.ct-u-paddingBoth150{
  padding-top: 150px;
  padding-bottom: 150px;
}
.ct-u-paddingTop150{
  padding-top: 150px;
}
.ct-u-paddingBottom150{
  padding-bottom: 150px;
}

// Margins // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-marginBoth10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.ct-u-marginTop10{
 margin-top: 10px;
}
.ct-u-marginBottom10{
  margin-bottom: 10px;
}
.ct-u-marginBoth20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.ct-u-marginTop20{
 margin-top: 20px;
}
.ct-u-marginBottom20{
  margin-bottom: 20px;
}
.ct-u-marginBoth30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.ct-u-marginTop30{
  margin-top: 30px;
}
.ct-u-marginBottom30{
  margin-bottom: 30px;
}
.ct-u-marginBoth40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.ct-u-marginTop40{
  margin-top: 40px;
}
.ct-u-marginBottom40{
  margin-bottom: 40px;
}
.ct-u-marginBoth50{
  margin-top: 50px;
  margin-bottom: 50px;
}
.ct-u-marginTop50{
  margin-top: 50px;
}
.ct-u-marginBottom50{
  margin-bottom: 50px;
}
.ct-u-marginBoth60{
  margin-top: 60px;
  margin-bottom: 60px;
}
.ct-u-marginTop60{
  margin-top: 60px;
}
.ct-u-marginBottom60{
  margin-bottom: 60px;
}
.ct-u-marginBoth70{
  margin-top: 70px;
  margin-bottom: 70px;
}
.ct-u-marginTop70{
  margin-top: 70px;
}
.ct-u-marginBottom70{
  margin-bottom: 70px;
}
.ct-u-marginBoth80{
  margin-top: 80px;
  margin-bottom: 80px;
}
.ct-u-marginTop80{
  margin-top: 80px;
}
.ct-u-marginBottom80{
  margin-bottom: 80px;
}
.ct-u-marginBoth90{
  margin-top: 90px;
  margin-bottom: 90px;
}
.ct-u-marginTop90{
  margin-top: 90px;
}
.ct-u-marginBottom90{
  margin-bottom: 90px;
}
.ct-u-marginBoth100{
  margin-top: 100px;
  margin-bottom: 100px;
}
.ct-u-marginTop100{
  margin-top: 100px;
}
.ct-u-marginBottom100{
  margin-bottom: 100px;
}
.ct-u-marginBoth150{
  margin-top: 150px;
  margin-bottom: 150px;
}
.ct-u-marginTop150{
  margin-top: 150px;
}
.ct-u-marginBottom150{
  margin-bottom: 150px;
}

// Colors // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-colorWhite{
  color: #ffffff;
}

.ct-u-colorFade{
  .ct-m-opacity(0.8);
}

.ct-u-colorPrimary{
  color: @brand-primary;
  .ct-m-colorFade(@brand-primary);
}
.ct-u-colorDarkGray{
  color: @brand-darkGray;
  .ct-m-colorFade(@brand-darkGray);
}
.ct-u-colorGreen{
  color: @brand-success;
  .ct-m-colorFade(@brand-success);
}
.ct-u-colorOrange{
  color: @brand-warning;
  .ct-m-colorFade(@brand-warning);
}
.ct-u-colorPurple{
  color: @brand-purple;
  .ct-m-colorFade(@brand-purple);
}
.ct-u-colorBlue{
  color: @brand-info;
  .ct-m-colorFade(@brand-info);
}
.ct-u-colorGold{
  color: @brand-gold;
  .ct-m-colorFade(@brand-gold);
}

// Borders // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-borderAll{
  border: 1px solid #dddddd;;
}
.ct-u-borderBoth{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.ct-u-borderTop{
  border-top: 1px solid #dddddd;
}
.ct-u-borderBottom{
  border-bottom: 1px solid #dddddd;
}

// Background Colors // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-backgroundWhite{
  background-color: #ffffff;
}
.ct-u-backgroundGray{
  background-color: #fcfcfc;
}
.ct-u-backgroundDarkGray{
  background-color: @brand-darkGray;
  color: #ffffff;
}
.ct-u-backgroundPrimary{
  background-color: @brand-primary;
  color: #ffffff;
  a{
    color: inherit;
  }
}
.ct-u-backgroundGreen{
  background-color: @brand-success;
  color: #ffffff;
}
.ct-u-backgroundOrange{
  background-color: @brand-warning;
  color: #ffffff;
}
.ct-u-backgroundRed{
  background-color: @brand-danger;
  color: #ffffff;
}
.ct-u-backgroundPurple{
  background-color: @brand-purple;
  color: #ffffff;
}
.ct-u-backgroundBlue{
  background-color: @brand-info;
  color: #ffffff;
}
.ct-u-backgroundGold{
  background-color: @brand-gold;
  color: #ffffff;
}

// Moustache // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-u-moustache{
  background: url("@{base-url}/moustache.png") no-repeat;
  width: 76px;
  height: 17px;
  margin: auto;
}