//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1

@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&text=0123456789);

.clearfix()
{
    &:before,
    &:after
    {
        content: " "; // 1
        display: table; // 2
    }

    &:after
    {
        clear: both;
    }
}

.counter-group
{
    display: inline-block;
    .clearfix();
}

.counter-block
{
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
  }

  .counter
  {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 18px double @brand-primary;
    background-color: #ffffff;
    line-height: 120px;
    .ct-m-rounded(50%);
      .number
      {

          width: 50%;
          height: 100%;
          background-color: #ffffff;
          position: absolute;
          font-size: 35px;
          top: -10000px;
          color: @brand-primary;
          &.tens
          {
            text-align: right;
            padding-left: 19%;
            padding-right: 1%;
            left: 0;
          }

          &.units
          {
            padding-left: 1%;
            padding-right: 19%;
            left: 50%;
            text-align: left;
          }

          &.hundreds
          {
            //display: none;
          }

          &.show
          {
            top: 0;
            //.transition(top 0.6s);
            z-index: 2;
          }

          &.hidden-down
          {
            top: 100%;
            //.transition-delay(1s);
            //.transition(top 0.6s);
          }

          &.hidden-up
          {
            top: -100%;
            //.transition(top 0.6s);
            z-index: 100;
          }
      }

      &.with-hundreds
      {
          .number
          {
              &.tens
              {
                width: 20.66%;
                left: 50%;
                margin-left: -10.33%;
                padding-left: 1%;
                padding-right: 1%;
                text-align: center;
              }
              &.units
              {
                width: 39.67%;
                left: 60.33%;
                padding-left: 1%;
                padding-right: 9%;
              }
              &.hundreds
              {
                width: 39.67%;
                padding-left: 9%;
                padding-right: 1%;
                display: block;
                left: 0;
                text-align: right;
              }
          }
      }
  }

  .counter-caption
  {
    font-size: 150%;
    text-transform: uppercase;
  }
}

@media (max-width: @screen-md)
{
    .counter-block
    {
      padding-right: 5px;
      padding-left: 5px;
        .counter
        {
          .ct-m-size(120px, 120px);
          line-height: 84px;

        }
    }
}

@media (max-width: @screen-xs)
{
    .counter-block
    {
      .ct-m-size(100%, auto);
        .counter
        {
          margin: auto;
          .ct-m-size(250px, 250px);
            .number
            {
                line-height: 210px;
            }
        }
    }
}
