/*------------------------------------------------------------------
Project:	Macaroon HTML Templare
Version:	1.0
Last change:	07 January 2014
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Font Awesome
2. Et line Font
3. Animate.css
4. Yamm Menu
5. Lists
6. Menu
7. Typography
8. Pagination
9. Utilities
10. Buttons
11. Forms
12. Tabs
13. Icon Box
14. Products
15. Pricing Box
16. Person Box
17. Socials
18. Accordion
19. Blog
20. Graph
21. Progress
22. Media Sections
23. Page Styles
24. Footer
25. Page Header
26. Divided Section
27. Image Box Section
28. Call To Action
29. Portfolio
30. Google Maps
31. Sliders
32. Magnific Popup
33. CountDown
34. WP Styles
-------------------------------------------------------------------*/

@import "variables.less";

// Macaroon Mixins // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

@keyframes moveRibbonsLeft {
  0%{
    background-position: 0px;
  }

  50%{
    background-position: -300px;
  }

  100%{
    background-position: 0px;
  }
}
@-webkit-keyframes moveRibbonsLeft {
  0%{
    background-position: 0px;
  }

  50%{
    background-position: -300px;
  }

  100%{
    background-position: 0px;
  }
}
@keyframes moveRibbonsRight {
  0%{
    background-position: 0px;
  }

  50%{
    background-position: 300px;
  }

  100%{
    background-position: 0px;
  }
}
@-webkit-keyframes moveRibbonsRight {
  0%{
    background-position: 0px;
  }

  50%{
    background-position: 300px;
  }

  100%{
    background-position: 0px;
  }
}

// z-index // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

@z-index-1: 1000;
@z-index-2: 2000;
@z-index-3: 3000;
@z-index-4: 4000;
@z-index-5: 5000;
@z-index-6: 6000;
@z-index-7: 7000;
@z-index-8: 8000;
@z-index-9: 9000;

@import "ct/mixins.less";
@import "../fonts/et-line-font/style.css";
@import "animate.less";
@import "yamm.less";
@import "ct/lists.less";
@import "ct/menu.less";
@import "ct/typography.less";
@import "ct/pagination.less";
@import "ct/utilities.less";
@import "ct/buttons.less";
@import "ct/forms.less";
@import "ct/tabs.less";
@import "ct/iconbox.less";
@import "ct/products.less";
@import "ct/pricing-boxes.less";
@import "ct/personbox.less";
@import "ct/socials.less";
@import "ct/accordion.less";
@import "ct/blog.less";
@import "ct/graph.less";
@import "ct/progress.less";
@import "ct/mediasections.less";

img{
  max-width: 100%;
}

hr{
  border-top-width: 4px;
  border-top-color: #fcfcfc;
}
hr.ct-dotted, hr.ct-dotted2{
  border: none;
  height: 11px;
  margin-top: 17px;
  margin-bottom: 17px;
}
hr.ct-dotted{
  background: url("../images/hr-dotted.png") repeat-x;
}
hr.ct-dotted2{
  background: url("../images/hr-dotted2.png") repeat-x;
}


html, body{
  height: 100%;
}
.ct-specialPage{
  border-top: 12px solid #ffffff;
  border-bottom: 12px solid #ffffff;
  display: table;
  width: 100%;
  height: 100%;
  //background-color: #ffffff;
  .ct-specialPage-inner{
    display: table-cell;
    vertical-align: middle;
  }
  hr.ct-dotted, hr.ct-dotted2{
    .ct-m-opacity(0.3);
  }
}

@media(max-width: @screen-sm){
  .ct-specialPage{
    display: block;
    .ct-specialPage-inner{
      display: block;
    }
  }
}

// Wrapper and Snap.js // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-pageWrapper{
  overflow: hidden;
  z-index: 3;
  background-color: #ffffff;
  .ct-m-boxShadow(0px 0px 16px rgba(0, 0, 0, 0.2));
}

body.boxed, .ptn1, .ptn2, .ptn3, .ptn4, .ptn5, .ptn6, .ptn7, .ptn8, .ptn9, .ptn10, .ptn11, .ptn12{
  .ct-pageWrapper{
    max-width: 1200px;
    margin: auto;
  }
}

.ptn1, .ptn2, .ptn3, .ptn4, .ptn5, .ptn6, .ptn7, .ptn8, .ptn9, .ptn10, .ptn11, .ptn12{
  background-attachment: fixed !important;
}

.ptn1{
  background: url("../images/bg_pattern_01.jpg") repeat;
}

.ptn2{
  background: url("../images/bg_pattern_02.jpg") repeat;
}

.ptn3{
  background: url("../images/bg_pattern_03.jpg") repeat;
}

.ptn4{
  background: url("../images/bg_pattern_04.jpg") repeat;
}

.ptn5{
  background: url("../images/bg_pattern_05.jpg") repeat;
}

.ptn6{
  background: url("../images/bg_pattern_06.jpg") repeat;
}

.ptn7{
  background: url("../images/bg_pattern_07.jpg") repeat;
}

.ptn8{
  background: url("../images/bg_pattern_08.jpg") repeat;
}

.ptn9{
  background: url("../images/bg_pattern_09.jpg") repeat;
}

.ptn10{
  background: url("../images/bg_pattern_10.jpg") repeat;
}

.ptn11{
  background: url("../images/bg_pattern_11.jpg") repeat;
}

.ptn12{
  background: url("../images/bg_pattern_12.jpg") repeat;
}

@media(max-width: @screen-xs-max){
  .ct-pageWrapper{
    overflow: hidden;
    position: relative;
    padding-top: 70px;
  }
}

// Footer // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

footer{
  border-top: 4px solid #ffffff;
  background-color: @ct-backgroundFooter;
  color: @ct-footerColor;
  a{
    color: inherit;
    &:hover, &:focus, &:active{
      .ct-m-opacity(0.8);
    }
  }
}

.ct-postFooter{
  background-color: @ct-backgroundPostFooter;
  position: relative;
  ul, ol{
    margin-bottom: 0;
  }
  .list-inline{
    >li{
      padding-right: 20px;
    }
  }
  &:before{
    width: 100%;
    top: -1px;
    height: 1px;
    background-color: rgba(255,255,255,0.4);
  }
  &:after, &:before{
    position: absolute;
    content: "";
  }
  &:after{
    left: 50%;
    margin-left: -37.5px;
    top: -18px;
    width: 75px;
    height: 29px;
    background: url("../images/footerTriangle.png") no-repeat;
  }
}

.ct-copyright{
  color: lighten(@ct-backgroundPostFooter, 30%);
  position: relative;
  padding-bottom: 13px;
  display: inline-block;
  &:after{
    position: absolute;
    bottom: 0;
    content: "";
    width: 60px;
    height: 4px;
    display: block;
    background-color: lighten(@ct-backgroundPostFooter, 30%);
  }
}

@media(max-width: @screen-xs-max){
  footer{
    text-align: center;
    h4{
      margin-top: 50px;
    }
    .text-right{
      text-align: center;
    }
  }
  .ct-postFooter{

    padding-bottom: 80px;
  }
  .ct-copyright{
    &:after{
      left: 50%;
      margin-left: -30px;
    }
  }
}


.ct-scrollUpButton{
  visibility: hidden;
  .ct-m-opacity(0);
  .ct-m-transition(1s, all, ease);
  position: fixed;
  right: 90px;
  color: #ffffff;
  text-align: center;
  bottom: 90px;
  text-transform: uppercase;
  .ct-sectionButton-circle{
    overflow: hidden;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 43px;
    display: block;
    margin: auto;
    .ct-m-borderRadius(50%,50%,50%,50%);
    background-color: @brand-info;
    .ct-m-transition(0.2s, all, ease);
  }
  &:hover, &:active, &:focus{
    color: #ffffff;
  }
  &.is-active{
    .ct-m-opacity(1);
    visibility: visible;
  }
}

@media(max-width: @screen-md-max){
  .ct-scrollUpButton{
    right: 20px;
    bottom: 20px;
  }
}
//@media(max-width: @screen-xs-max){
//  .ct-scrollUpButton{
//    display: none;
//  }
//}

// Page Header // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-pageHeader{
  .ct-m-clearfix();
  display: table;
  .ct-pageHeader-leftSide{
    background-color: @ct-pageTitle-background;
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  .ct-pageHeader-rightSide{
    width: 60%;
    display: table-cell;
    padding-left: 30px;
  }
}

@media(min-width: @screen-md-max){
  .ct-pageHeader-rightSide{
    .flexslider {
      min-height: 460px;
    }
  }
}

@media(min-width: 1700px){
  .ct-pageHeader {
    .ct-pageHeader-leftSide {
      padding-right: 260px;
    }
  }
}
@media(max-width: 1700px){
  .ct-pageHeader {
    .ct-pageHeader-leftSide {
      padding-right: 200px;
    }
  }
}
@media(max-width: 1550px){
  .ct-pageHeader {
    .ct-pageHeader-leftSide {
      padding-right: 150px;
    }
  }
}
@media(max-width: 1350px){
  .ct-pageHeader {
    .ct-pageHeader-leftSide {
      padding-right: 150px;
    }
  }
}

@media(max-width: 1250px){
  .ct-pageHeader {
    .ct-pageHeader-leftSide {
      padding-right: 50px;
    }
  }
}
@media(max-width: @screen-sm){
  .ct-pageHeader {
    display: block;
    height: auto !important;
    .ct-pageHeader-leftSide, .ct-pageHeader-rightSide {
      display: block;
      width: 100%;
      float: none;
    }
    .ct-pageHeader-leftSide{
      display: none;
    }
    .ct-pageHeader-rightSide{
      padding-left: 0;
    }
  }
}

.ct-pageHeader--default{
  height: 300px;
}

.ct-sectionTitle{
  display: inline-block;
  &:after{
    content: "";
    display: block;
    width: 70px;
    height: 7px;
    margin: 20px 0 17px 0;
    background: url("../images/dotted-line.png");
  }
}
h5.ct-sectionTitle:after{
  margin: 5px 0;
  width: 100%;
}
.ct-sectionTitle--primary{
  color: @brand-primary;
}
.ct-sectionTitle--purple{
  color: @brand-purple;
}
.ct-sectionTitle--green{
  color: @brand-success;
}
.ct-sectionTitle--blue{
  color: @brand-info;
}
.ct-sectionTitle--gray{
  color: @brand-darkGray;
}
.ct-sectionTitle--orange{
  color: @brand-warning;
}
.ct-sectionTitle--gold{
  color: @brand-gold;
}

// Divided Section // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-divided{
  position: relative;
  .col-md-6:last-child{
    color: #ffffff;
  }
  .col-md-6:last-child:before, .col-md-6:last-child:after{
    position: absolute;
    width: 9999px;
    height: 100%;
    top: 0;
  }
  .col-md-6:last-child:before{
    right: 100%;
  }
  .col-md-6:last-child:after{
    left: 100%;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 49%;
    width: 9999px;
    height: 100%;
  }
}
.ct-divider--primary {
  .col-md-6:last-child{
    background-color: @brand-primary;
    &:before, &:after{
      background-color: @brand-primary;
    }
  }
  &:before {
    background-color: @brand-primary;
  }
}
.ct-divider--green{
  .col-md-6:last-child{
    background-color: @brand-success;
    &:before, &:after{
      background-color: @brand-success;
    }
  }
  &:before{
    background-color: @brand-success;
  }
}
.ct-divider--gray{
  .col-md-6:last-child{
    background-color: @brand-darkGray;
    &:before, &:after{
      background-color: @brand-darkGray;
    }
  }
  &:before{
    background-color: @brand-darkGray;
  }
}
.ct-divider--orange{
  .col-md-6:last-child{
    background-color: @brand-warning;
    &:before, &:after{
      background-color: @brand-warning;
    }
  }
  &:before{
    background-color: @brand-warning;
  }
}
.ct-divider--purple{
  .col-md-6:last-child{
    background-color: @brand-purple;
    &:before, &:after{
      background-color: @brand-purple;
    }
  }
  &:before{
    background-color: @brand-purple;
  }
}
.ct-divider--blue{
  .col-md-6:last-child{
    background-color: @brand-info;
    &:before, &:after{
      background-color: @brand-info;
    }
  }
  &:before{
    background-color: @brand-info;
  }
}
.ct-divider--gold{
  .col-md-6:last-child{
    background-color: @brand-gold;
    &:before, &:after{
      background-color: @brand-gold;
    }
  }
  &:before{
    background-color: @brand-gold;
  }
}

  @media (max-width: @screen-md) {
    .ct-divided{
      position: relative;
      &:before{
        display: none;
      }
      .col-md-6:last-child:before, .col-md-6:last-child:after{
        content: "";
      }
    }
  }

  // Image Box Section // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-imageBox{
  position: relative;
  height: 780px;
  background-size: cover;
  background-position: center;
  .ct-u-displayTable{
    position: absolute;
    height: 100%;
  }
  ul.list-unstyled, ol.list-unstyled {
    li {
      font-weight: 600;
    }
  }
  .ct-imageBox-content{
    max-width: 372px;
    margin: auto;
    padding: 2px;
    border: 2px solid #ffffff;
  }
  .ct-imageBox-innerContent{
    width: 100%;
    background-color: #ffffff;
    padding: 50px;
  }
}

@media (max-width: @screen-xs){
  .ct-imageBox{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    .ct-imageBox-innerContent{
      padding: 20px;
    }
  }
}

  // Call To Action // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-callToActionBox{
  display: block;
  width: 70%;
  text-align: right;
  padding: 70px 50px;
  font-size: 55px;
  line-height: 1;
  color: #ffffff;
  position: relative;
  &:hover, &:focus, &:active{
    color: #ffffff;
  }
  small{
    font-size: 24px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 9999px;
    height: 100%;
  }
  img{
    position: absolute;
    bottom: 0;
    left: 105%;
  }
}

.ct-callToActionBox--primary, .ct-callToActionBox--primary:before{
  background-color: @brand-primary;
}
.ct-callToActionBox--green, .ct-callToActionBox--green:before{
  background-color: @brand-success;
}
.ct-callToActionBox--blue, .ct-callToActionBox--blue:before{
  background-color: @brand-info;
}
.ct-callToActionBox--orange, .ct-callToActionBox--orange:before{
  background-color: @brand-warning;
}
.ct-callToActionBox--purple, .ct-callToActionBox--purple:before{
  background-color: @brand-purple;
}
.ct-callToActionBox--gray, .ct-callToActionBox--gray:before{
  background-color: @brand-darkGray;
}
.ct-callToActionBox--gold, .ct-callToActionBox--gold:before{
  background-color: @brand-gold;
}

@media (max-width: @screen-xs-max){
  .ct-callToActionBox{
    width: 100%;
    img{
      display: none;
    }
  }
}

  // Portfolio // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  @import "ct/portfolio.less";
  @import "ct/gallery.less";

// Gallery Widget // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-galleryWidget{
  img{
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
.ct-galleryWidgetSingleMember{
  img{
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 80px;
  }
}

// Google Maps // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.ct-googleMap{
  min-height: 150px;
}
.ct-googleMap img {
  max-width:none;
}

// Sliders // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  @import "flexslider.less";

  .flexslider{
    background: transparent;
    .ct-m-boxShadow(none);
    padding: 0;
    border: none;
    .ct-m-rounded(0);
    ul li, ol li{
      line-height: inherit;
    }
    .flex-direction-nav{
      a{
        text-shadow: none;
        color: @brand-primary;
        &:before{
          font-family: fontawesome;
          height: 40px;
        }
      }
      .flex-prev{
        left: 15px;
        &:before{
          content: "\f0d9";
        }
      }
      .flex-next{
        right: 15px;
        &:before{
          content: "\f0da";
        }
      }
    }
  }

  .ct-pageHeader .flexslider{
    margin: 0;
  }

  .flexslider{
    &.ct-flexslider--arrowType1{
      .flex-direction-nav {
        a {
          top: 20px;
          margin: 0;
          width: 16px;
          border-top: 3px solid @brand-primary;
          &:before{
            font-size: 25px;
            text-align: center;
            width: 100%;
          }
        }
      }
      .flex-prev{
        left: 25px;
      }
      .flex-next{
        left: 50px;
      }
    }
    &.ct-flexslider--arrowType2{
      .flex-direction-nav {
        a {
          top: auto;
          bottom: -40px;
          margin: 0;
          width: 16px;
          .ct-m-opacity(0.7);
          &:before{
            font-size: 30px;
            text-align: center;
            width: 100%;
          }
        }
      }
      .flex-prev{
        left: auto;
        right: 35px;
        &:before{
          content: "\f104";
        }
      }
      .flex-next{
        right: 15px;
        &:before{
          content: "\f105";
        }
      }
    }
  }

.flexslider.ct-flexslider--whiteControls{
  .flex-direction-nav {
    a {
      color: #ffffff !important;
    }
  }
  &.ct-flexslider--arrowType1{
    .flex-direction-nav {
      a {
        border-top: 3px solid #ffffff;
      }
    }
  }
}

.flexslider[data-itemmargin="25"]{
  .slides > li{
    margin-left: 12.5px;
    margin-right: 12.5px;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

@media(max-width: @screen-xs){

  .flexslider[data-itemmargin="25"]{
    .slides > li{
      margin: 0;
    }
  }
}

  // Magnific Popup // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  @import "magnific-popup.less";

// Countdown // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  @import "mb-comingsoon.less";

  // Animations // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  .cssAnimate .animated{
    opacity: 0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
  }
  .cssAnimate .activate{
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
  }

  @import "wp.less";