.widget{
  margin-bottom: 50px;
  .widget-title{
    background-color: @brand-primary;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: @ct-secondaryFont;
    font-weight: 600;
    padding: 11px 15px;
    line-height: 1;
    margin-bottom: 20px;
    &:before, &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }
    &:before{
      top: -3px;
      background: url("@{base-url}/btmBox-green-top.png");
    }
    &:after{
      bottom: -3px;
      background: url("@{base-url}/btmBox-green.png");
    }
  }
  ul{
    padding-left: 0;
    list-style: none;
    li{
      line-height: 40px;
      text-transform: uppercase;
      font-family: @ct-secondaryFont;
      font-weight: 600;
      &:before{
        content: "\f0da";
        font-family: fontawesome;
        margin-right: 20px;
        color: lighten(@brand-primary, 28%);
      }
      a{
        color: inherit;
        &:hover{
          color: @brand-primary;
        }
      }
    }
  }
}


.widget_recent_comments{
  ul li a{
    color: @brand-primary;
    &:hover, &:focus, &:active{
      color: inherit;
    }
  }
}

.widget.ct-widget-latestPosts{
  .widget-inner{
    > ul{
      li{
        padding: 10px 0;
        display: table;
        &:before{
          display: none;
        }
        &:last-child{
          padding-bottom: 0;
        }
        &:first-child{
          padding-top: 0;
        }
        a{
          padding: 0;
          line-height: 1;
          font-size: 16px;
          &:hover, &:focus, &:active{
            &:before{
              display: none;
            }
          }
        }
        .widget-latest-posts-left{
          padding-right: 16px;
          width: 90px;
          display: table-cell;
          vertical-align: middle;
          img{
            .ct-m-rounded(50%);
          }
        }
        &.current-cat{
          a{
            cursor: default;
          }
        }
        .widget-latest-posts-content{
          line-height: 1;
          display: table-cell;
          vertical-align: middle;
          a{
            max-height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      span{
        padding-top: 4px;
        display: block;
        font-size: 14px;
        line-height: 11px;
        color: #9c9c9c;
        text-transform: capitalize;
      }
    }
  }
}

.tagcloud{
  .ct-m-clearfix();
  a{
    display: block;
    float: left;
    padding: 5px 14px;
    line-height: 1;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-family: @ct-secondaryFont;
    &:hover{
      color: @brand-primary;
      border-color: @brand-primary;
    }
  }
}

.ct-widgetSocials ul li:before{
  display: none;
}
.ct-widgetSocials ul li{
  text-transform: capitalize;
}