/*******************************************************************************
 *
 * TopBar.
 *
 ******************************************************************************/
.sp-topBar .ct-topBar-navigation ul {
    padding: 5px 0px;
}
.sp-topBar .ct-topBar-navigation img {
    height: 34px;
}
.sp-topBar .ct-topBar-navigation a:hover {
    opacity: 1;
}


/*******************************************************************************
 *
 * Estilos para ocultar el TopBar.
 *
 ******************************************************************************/
body.ct--TopBarFixed.ct--navbarFixed.sp-TopBarHidden {
    padding-top: 95px;
}
body.ct--TopBarFixed.ct--navbarFixed.sp-TopBarHidden nav.navbar {
    top: 0px;
}
.sp-navbar a.sp-navbar-brand {
    padding: 25px 17px 25px 0px;
}
.sp-navbar a.sp-navbar-brand img {
    height: 45px;
    transition: all 200ms;
}
.sp-navbar.is-small a.sp-navbar-brand img {
    height: 34px;
}



/*******************************************************************************
 *
 * Navbar con logo.
 *
 ******************************************************************************/
@media (max-width: 767px) {
    .navbar {
        display: block;
        height: 65px;
    }
    .sp-navbar.navbar .sp-navbar-brand {
        margin: 12px 0px 0px;
        padding: 0px;
    }
    .sp-navbar.navbar .sp-navbar-brand img {
        height: 34px;
    }
    .sp-navbar.navbar ul.nav {
        text-align: center;
    }
    .sp-navbar.navbar .ct-socials {
        display: none;
    }
    .sp-navbar.is-small .sp-navbar-brand img {
        margin-top: -35px;
    }
}




/*******************************************************************************
 *
 * Page Header.
 *
 ******************************************************************************/
.sp-pageHeader .ct-pageHeader-leftSide,
.sp-pageHeader .sp-pageHeader-buscador {
    height: 600px;
}
.sp-pageHeader .ct-pageHeader-leftSide img {
    width: 35%;
}
.sp-pageHeader .sp-pageHeader-buscador {
    background-image: url('../img/fondos/manzanas-verdes.jpg');
    background-size: cover;
    background-position: center;
}
.sp-pageHeader .sp-pageHeader-buscador .sp-pageHeader-fondo {
    background-color: rgba(90,194,211,0);
    height: 100%;
}
.sp-pageHeader .sp-pageHeader-buscador form {
    margin-top: 230px;
    display: inline-block;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    padding: 40px;
}
.sp-pageHeader .sp-pageHeader-buscador form input {
    font-size: 1.5em;
}


/*******************************************************************************
 *
 * Page Header Small
 *
 ******************************************************************************/
.sp-pageHeader.sp-pageHeader-small .ct-pageHeader-leftSide,
.sp-pageHeader.sp-pageHeader-small .sp-pageHeader-buscador {
    height: 300px;
}
.sp-pageHeader.sp-pageHeader-small .sp-pageHeader-buscador form {
    margin-top: 85px;
}



/*******************************************************************************
 *
 * Product Box Simple.
 *
 ******************************************************************************/
.sp-productBox-simple {
    min-height: 300px;
}
.sp-productBox-simple.ct-productBox--type1 .ct-productBox-image {
    max-height: 40px;
}
.sp-productBox-simple .ct-productBox-image {
    min-height: 40px;
    background-color: #00c680;
}
.sp-productBox-simple .ct-productBox-description {
    text-align: left;
}
.sp-productBox-simple .ct-productBox-description ul {
    padding: 10px 30px;
}
.sp-productBox-precio {
    float: right;
    clear: both;
}


.sp-mejorPrecio {
    background-color: #FED981;
    font-weight: 600;
    padding: 4px;
}
:hover .sp-mejorPrecio {
    color: #414142;
}


/*******************************************************************************
 *
 * Tabla con lista de productos.
 *
 ******************************************************************************/
table.sp-lista-productos {
    font-family: 'Source Sans Pro';
    font-weight: 400;
}
table.sp-lista-productos > thead > tr > th {
    background-color: #99519A;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    padding: 20px 10px;
    line-height: 110%;
    font-size: 1.1em;
    text-align: center;
}
table.sp-lista-productos > thead > tr > th:first-child {
    text-align: left;
}
table.sp-lista-productos > tbody > tr > td.sp-lista-productos-precio {
    vertical-align: middle;
    text-align: center;
    width: 11%;
    font-weight: 600;
}
table.sp-lista-productos > tbody > tr > td:nth-child(2n) {
    background-color: #F5F5F5;
}

table.sp-lista-productos.sp-lista-productos-alt  > thead > tr > th {
    background-color: #57C3D3;
}



/*******************************************************************************
 *
 * Link de volver en los titulos.
 *
 ******************************************************************************/
a.sp-titulo-volver {
    float: left;
    color: #5AC2D3;
}
